<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="migasfree.pkexec.etiquetas.cambiar">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-etiquetas</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.etiquetas.comprobar">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-etiquetas-comprobar</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.actualizar">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-migasfree-actualizar</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.postinstalacion">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-volver-postinstalacion</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.computername">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-computer-name</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.modificaripcache">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-modificar-ip-cache</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="migasfree.pkexec.deshabilitarmigasfree">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-configurar-migasfree-launcher</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
