[Desktop Entry]
Encoding=UTF-8
Name=Cambio de usuario de inicio de sesión
Name[es]=Cambio de Usuario para inicio de sesión
Name[es_ES]=Cambio de Usuario para inicio de sesión
Comment=Aplicación que permite el Cambio de usuario que inicio de sesión de forma automática
Icon=vx-login.svg
Exec=/usr/bin/vx-pk-autologin
Terminal=false
Type=Application
Categories=Sistema;
StartupNotify=true
Hidden=false
