[Desktop Entry]
Encoding=UTF-8
Name=Comprobación de Etiquetas
Name[es]=Comprobación de Etiquetas
Name[es_ES]=Comprobación de Etiquetas
Comment=Programa de Comprobación de Etiquetas de Migasfree
Icon=vx-tick
Exec=/usr/bin/vx-pk-etiquetas-comprobar
Terminal=false
Type=Application
Categories=Etiquetas;
StartupNotify=true
Hidden=false
