[Desktop Entry]
Encoding=UTF-8
Name=Habilitar o Deshabilitar Gnome Pie
Name[es]=Habilitar o Deshabilitar Gnome Pie
Name[es_ES]=Habilitar o Deshabilitar Gnome Pie
Comment=Permite habilitar o deshabilitar el Gnome Pie en el Arranque
Icon=gnome-pie
Exec=/usr/bin/vx-pk-configurar-gnome-pie
Terminal=false
Type=Application
Categories=Sistema;
StartupNotify=true
Hidden=false
