[Desktop Entry]
Encoding=UTF-8
Name=Detener y Cerrar Cliente Migasfree
Name[es]=Detener y Cerrar Cliente Migasfree
Name[es_ES]=Detener y Cerrar Cliente Migasfree
Comment=Aplicación que Detiene y Cierra el Cliente Migasfree
Icon=matar-migasfree-512x
Exec=/usr/bin/vx-matar-cliente-migasfree
Terminal=false
Type=Application
Categories=MigaScripts;
StartupNotify=true
Hidden=false
