[Desktop Entry]
Encoding=UTF-8
Name=Comprobar y Reparar Software del Equipo
Name[es]=Comprobar y Reparar Software del Equipo
Name[es_ES]=Comprobar y Reparar Software del Equipo
Comment=Aplicación que permite Comprobar y Reparar el Software del Equipo
Icon=application-check-icon
Exec=/usr/bin/vx-pk-comprobar-estado-software
Terminal=false
Type=Application
Categories=Sistema;
StartupNotify=true
Hidden=false
