[Desktop Entry]
Encoding=UTF-8
Name=Cerrar Sesión Gráfica
Name[es]=Cerrar Sesión Gráfica
Name[es_ES]=Cerrar Sesión Gráfica
Comment=Cierra la sesión Gráfica de Vitalinux
Icon=shutdown
Exec=/usr/bin/vx-cerrar-sesion
Terminal=false
Type=Application
Categories=GestionApagado;SistemaApagado;
StartupNotify=true
Hidden=false
