[Desktop Entry]
Encoding=UTF-8
Name=Apagar Equipo
Name[es]=Apagar Equipo
Name[es_ES]=Apagar Equipo
Comment=Da la orden de Apagar Vitalinux
Icon=shutdown
Exec=/usr/bin/vx-apagar-equipo
Terminal=false
Type=Application
Categories=GestionApagado;SistemaApagado;
StartupNotify=true
Hidden=false
