[Desktop Entry]
Encoding=UTF-8
Name=Launch Files Flash SWF
Name[es]=Lanzar Ficheros Flash SWF
Name[es_ES]=Lanzar Ficheros Flash SWF
Comment=Program to launch Files Flash SWF
Comment[es]=Aplicación que embebe y lanza ficheros Flash SWF
Icon=vx-ficheros-swf
Exec=vx-embeber-swf %f
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
MimeType=application/vnd.adobe.flash.movie;application/x-shockwave-flash;
