[Desktop Entry]
Encoding=UTF-8
Name=Launch Files Java JAR
Name[es]=Lanzar Ficheros Java JAR
Name[es_ES]=Lanzar Ficheros Java JAR
Comment=Program to launch Files Java JAR
Comment[es]=Aplicación que lanza ficheros Java JAR
Icon=vx-java-jar
Exec=vx-java-jar %f
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
