[Desktop Entry]
Encoding=UTF-8

Name=Delete All User's Keyring 
Name[en]=Delete All User's Keyring 
Name[es]=Eliminar Anillos de Claves
Name[es_ES]=Eliminar Anillos de Claves

Comment=Delete all user's keyrings when we do not want to use them
Comment[en]=Delete all user's keyrings when we do not want to use them
Comment[es]=Borrar todos los anillos de claves de los usuarios por no necesitar usarlos
Comment[es_ES]=Borrar todos los anillos de claves de los usuarios por no necesitar usarlos

Icon=key-amarilla
Exec=/usr/bin/vx-pk-keyrings-borrar
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false