[Desktop Entry]
Encoding=UTF-8

Name=Modify IP Cache
Name[en]=Modify IP Cache
Name[es]=Modificar IP Caché
Name[es_ES]=Modificar IP Caché

Comment=Program that allows Modifying the IP of the server Cache of the center
Comment[en]=Program that allows Modifying the IP of the server Cache of the center
Comment[es]=Programa que permite Modificar la IP del servidor Caché del centro
Comment[es_ES]=Programa que permite Modificar la IP del servidor Caché del centro

Icon=migasfree
Exec=/usr/bin/vx-pk-modificar-ip-cache
Terminal=false
Type=Application
Categories=MigaScripts;
StartupNotify=true
Hidden=false
