[Desktop Entry]
Encoding=UTF-8
Name=Detener o Matar Programa
Name[es]=Detener o Matar Programa
Name[es_ES]=Detener o Matar Programa
Comment=Fuerza la Finalización de un Programa en Ejecución
Icon=pistola-512x
Exec=/usr/bin/xkill
Terminal=false
Type=Application
Categories=Sistema;
StartupNotify=true
Hidden=false
