[Desktop Entry]
Encoding=UTF-8

Name=Stop or Kill Program
Name[en]=Stop or Kill Program
Name[es]=Detener o Matar Programa
Name[es_ES]=Detener o Matar Programa

Comment=Force the Completion of a Program in Execution
Comment[en]=Force the Completion of a Program in Execution
Comment[es]=Fuerza la Finalización de un Programa en Ejecución

Icon=pistola

Exec=/usr/bin/xkill
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
