[Desktop Entry]
Encoding=UTF-8

Name=Restart Desktop Enviroment
Name[en]=Restart Desktop Enviroment
Name[es]=Resetear Entorno de Escritorio
Name[es_ES]=Resetear Entorno de Escritorio

Comment=Application that allows Restart Desktop Enviroment
Comment[en]=Application that allows Restart Desktop Enviroment
Comment[es]=Aplicación que permite Resetear el Entorno de Escritorio

Icon=folder

Exec=/usr/bin/vx-pcmanfm-restart
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
