[Desktop Entry]
Encoding=UTF-8

Name=Reboot PC
Name[en]=Reboot PC
Name[es]=Reiniciar Equipo
Name[es_ES]=Reiniciar Equipo

Comment=Reboot PC
Comment[en]=Reboot PC
Comment[es]=Reiniciar Equipo
Comment[es_ES]=Reiniciar Equipo

Icon=system-reboot

Exec=/usr/bin/vx-reiniciar-equipo
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=GestionApagado;
