[Desktop Entry]
Encoding=UTF-8
Name=Regenerate All Desktop Environments
Name[en]=Regenerate All Desktop Environments
Name[es]=Regenerar Todos los Entornos de Escritorio
Name[es_ES]=Regenerar Todos los Entornos de Escritorio

Comment=Regenerate All Desktop Environments by returning it to the Original State
Comment[en]=Regenerate All Desktop Environments by returning it to the Original State
Comment[es]=Regenerar Todos los Entornos de Escritorio devolviendolos al Estado Original
Comment[es_ES]=Regenerar Todos los Entornos de Escritorio devolviendolos al Estado Original

Icon=vitalinux
Exec=/usr/bin/vx-pk-regenerar-entorno-escritorio
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
