[Desktop Entry]
Encoding=UTF-8
Name=Regenerate All User Profiles
Name[en]=Regenerate All User Profiles
Name[es]=Regenerar Todos los Perfiles de Usuarios
Name[es_ES]=Regenerar Todos los Perfiles de Usuarios

Comment=Regenerate All User Profiles by returning it to the Original State
Comment[en]=Regenerate All User Profiles by returning it to the Original State
Comment[es]=Regenerar Todos los Perfiles de Usuarios devolviendolos al Estado Original
Comment[es_ES]=Regenerar Todos los Perfiles de Usuarios devolviendolos al Estado Original

Icon=vitalinux
Exec=/usr/bin/vx-pk-regenerar-perfil-usuarios
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
