[Desktop Entry]
Encoding=UTF-8

Name=Resize System Disk Files
Name[en]=Resize System Disk Files
Name[es]=Redimensionar Sistema Archivos del Disco
Name[es_ES]=Redimensionar Sistema Archivos del Disco

Comment=Application that allows Resize the System Disk Files looking for free space
Comment[en]=Application that allows Resize the System Disk Files looking for free space
Comment[es]=Aplicación que permite Redimensionar el Sistema Archivos del Disco buscando espacio libre

Icon=hard-disk

Exec=/usr/bin/vx-pk-redimensionar-disco-lvm
Terminal=false
Type=Application
Categories=Vitalinux;
StartupNotify=true
Hidden=false
