[Desktop Entry]
Encoding=UTF-8
Name=Reiniciar Equipo
Name[es]=Reiniciar Equipo
Name[es_ES]=Reiniciar Equipo
Comment=Da la orden de Reiniciar Vitalinux
Icon=shutdown
Exec=/usr/bin/vx-reiniciar-equipo
Terminal=false
Type=Application
Categories=GestionApagado;SistemaApagado;
StartupNotify=true
Hidden=false
