<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

<action id="sistema.pkexec.xdgopen">
    <message>Authentication is required to Open as Root: </message>
    <message xml:lang="es">Se requiere autenticación para Abrir como Root: </message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/xdg-open</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.openasroot">
    <message>Authentication is required to Open as Root</message>
    <message xml:lang="es">Se requiere autenticación para Abrir como Root: </message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-abrir-como-root</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.keyringsdeleteall">
    <message>Authentication is required to delete keyring's users</message>
    <message xml:lang="es">Para borrar los anillos de claves de los usuarios debe autenticarse omo administrador del sistema</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-keyrings-borrar</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.regenerarperfilusuarios">
    <message>Authentication is required to be able to Regenerate User Profiles by returning it to the Original State</message>
    <message xml:lang="es">Para Regenerar los Perfiles de los Usuarios debe autenticarse omo administrador del sistema</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-regenerar-perfil-usuarios</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.regenerarentornoescritorio">
    <message>Authentication is required to be able to Regenerate Desktop Environment by returning it to the Original State</message>
    <message xml:lang="es">Para Regenerar los Entornos de Escritorio de los usuarios debe autenticarse omo administrador del sistema</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-regenerar-entorno-escritorio</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="sistema.pkexec.hostname">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-hostname</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.login">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-autologin</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.actualizar">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-actualizar-sistema</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.instjava">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-instalar-java</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.driverpdi">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-drivers-pdis</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.reiniciared">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-reiniciared</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.instalarwacom">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-instalar-wacom</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.repararsoftware">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-comprobar-estado-software</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.redimensionardiscolvm">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-redimensionar-disco-lvm</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.crearusbbootable">
    <message>Authentication is required to be able to run the program</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-crear-usb-bootable</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>


</policyconfig>
