<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="sistema.pkexec.hostname">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-hostname</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.login">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-autologin</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.actualizar">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-actualizar-sistema</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.instjava">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-instalar-java</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.driverpdi">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-drivers-pdis</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.reiniciared">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-reiniciared</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.instalarwacom">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-instalar-wacom</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.repararsoftware">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-comprobar-estado-software</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.redimensionardiscolvm">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-redimensionar-disco-lvm</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.evitardockplank">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-configurar-dock-plank</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.crearusbbootable">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-crear-usb-bootable</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

<action id="sistema.pkexec.evitargnomepie">
    <message>Se requiere autenticación para poder ejecutar el programa</message>
    <message xml:lang="es">Para ejecutar el programa necesita autenticarse</message>
    <icon_name>vitalinux-256x</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/vx-configurar-gnome-pie</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
