Source: vx-dga-l-scripts
Section: utils
Priority: extra
Maintainer: Arturo Martín Romero <amartinromero@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.7
Homepage: http://wiki.vitalinux.educa.aragon.es

Package: vx-dga-l-scripts
Architecture: all
Depends: ${misc:Depends}, gnome-screenshot, imagemagick, zenity, yad, lame, ghostscript, pdftk, evince, mplayer, vx-dga-l-variables-conf, gparted, dosfstools, lxsession, vx-dga-l-menu-vitalinux, vx-dga-l-skel-usuarios (>= 2.0-1)
Pre-depends: vx-dga-l-menu-vitalinux (>= 2.0-8)
Replaces: vx-dga-l-actions-explorador-archivos
Description: Scripts utiles para LVitalinux
 Scripts para LVitalinux que añaden funcionalidades útiles:
 .
 1) Apagar equipo
 2) Reiniciar equipo
 3) Cerrar sesión
 4) Capturar pantalla completa, ventana o área
 5) Check password de usuario (para saber si pertenece al grupo sudo)
 6) Instalación de drivers-PDIs
 7) Comprobar el Estado del Software
 8) Eliminar ficheros de configuración del Entorno del Escritorio
 9) Regenerar el entorno de Escritorio de los usuarios del Sistema
 10) Conocer la Resolución de pantalla
 11) Modificar la dirección IP del servidor Caché
 12) Conocer los usuarios gráficos del sistema
 13) Conocer los HOMES de los usuarios gráficos del sistema
 14) Crear un USB bootable
 15) Test de velocidad
 16) Conocer información del Sistema
 17) Parsear archivos INI
 18) Configurar impresoras
 19) Habilitar y deshabilitar touchpad
 20) Habilitar y deshabilitar touchscreen
 21) Resetear navegadores Web Firefox y Chrome
 22) ...